#root {
  text-align: center;
}

:root {
  font-family: Heebo;
  direction: rtl;
  line-height: 1.5;
  font-weight: 400;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;
}

input {
  padding: 0.6em 1.2em;
  font-family: inherit;
  border-radius: 8px;
}

button {
  border-radius: 8px;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  cursor: pointer;
  transition: border-color 0.25s;
  margin: 1em;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}
